{
  "swagger": "2.0",
  "info": {
    "description": "API for querying and purchasing UK mobile phone numbers.",
    "version": "1.0.0",
    "title": "British Numbers API",
    "termsOfService": "https://api.britishnumbers.co.uk/terms-of-service",
    "contact": {
      "email": "info@britishnumbers.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "api.britishnumbers.co.uk",
  "basePath": "/",
  "tags": [
    {
      "name": "memorable",
      "description": "Operations about memorable numbers"
    },
    {
      "name": "purchase",
      "description": "Operations about purchasing numbers"
    }
  ],
  "schemes": ["https"],
  "paths": {
    "/memorable": {
      "get": {
        "tags": ["memorable"],
        "summary": "Retrieve memorable phone numbers",
        "description": "",
        "operationId": "findMemorableNumbers",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Your search query",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Determines which fields to search on. Defaults to 'number'.",
            "required": false,
            "type": "string",
            "enum": ["number", "prefix", "last_six"]
          },
          {
            "name": "match",
            "in": "query",
            "description": "Determine if you want an exact match. Defaults to a fuzzy match.",
            "required": false,
            "type": "string",
            "enum": ["exact"]
          },
          {
            "name": "price_gte",
            "in": "query",
            "description": "Filter by price (greater than or equal to).",
            "required": false,
            "type": "number"
          },
          {
            "name": "price_lte",
            "in": "query",
            "description": "Filter by price (less than or equal to).",
            "required": false,
            "type": "number"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Select the range you wish to retrieve, format 'start-end'.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/purchase": {
      "post": {
        "tags": ["purchase"],
        "summary": "Submit a purchase request for numbers",
        "description": "",
        "operationId": "purchaseNumbers",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "email",
            "in": "formData",
            "description": "Your email address for correspondence.",
            "required": true,
            "type": "string"
          },
          {
            "name": "number",
            "in": "formData",
            "description": "The number(s) you wish to purchase. Can include multiple numbers.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "Purchase request submitted successfully."
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  }
}
