{
  "swagger": "2.0",
  "info": {
    "description": "API for querying and purchasing UK mobile phone numbers.",
    "version": "1.0.0",
    "title": "British Numbers API",
    "termsOfService": "https://api.britishnumbers.co.uk/terms-of-service",
    "contact": {
      "email": "info@britishnumbers.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "api.britishnumbers.co.uk",
  "basePath": "/",
  "tags": [
    {
      "name": "Mobile Numbers",
      "description": "Operations for querying and purchasing mobile numbers"
    }
  ],
  "schemes": ["https"],
  "paths": {
    "/mobile/memorable": {
      "get": {
        "tags": ["Mobile Numbers"],
        "summary": "Retrieve memorable phone numbers",
        "description": "Allows clients to search for memorable mobile numbers based on various criteria.",
        "operationId": "findMemorableNumbers",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Your search query",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Determines which fields to search on. Defaults to 'number'.",
            "required": false,
            "type": "string",
            "enum": ["number", "prefix", "last_six"]
          },
          {
            "name": "match",
            "in": "query",
            "description": "Determine if you want an exact match. Defaults to a fuzzy match.",
            "required": false,
            "type": "string",
            "enum": ["exact"]
          },
          {
            "name": "price_gte",
            "in": "query",
            "description": "Filter by price (greater than or equal to).",
            "required": false,
            "type": "number"
          },
          {
            "name": "price_lte",
            "in": "query",
            "description": "Filter by price (less than or equal to).",
            "required": false,
            "type": "number"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Select the range you wish to retrieve, format 'start-end'.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/mobile/purchase": {
      "post": {
        "tags": ["Mobile Numbers"],
        "summary": "Submit a purchase request for one or more mobile numbers",
        "description": "Submit a request to purchase UK mobile numbers.",
        "operationId": "purchaseNumbers",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "email",
            "in": "formData",
            "description": "Your email address for correspondence.",
            "required": true,
            "type": "string"
          },
          {
            "name": "number",
            "in": "formData",
            "description": "The number(s) you wish to purchase. Can include multiple numbers.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "Purchase request submitted successfully."
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/mobile/custom": {
      "post": {
        "tags": ["Mobile Numbers"],
        "summary": "Custom operation for mobile numbers",
        "description": "Perform a custom operation related to mobile numbers.",
        "operationId": "customOperation",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "description": "The query consisting of 6 or 7 numbers",
            "required": true,
            "type": "string"
          },
          {
            "name": "email",
            "in": "query",
            "description": "Contact email",
            "required": true,
            "type": "string",
            "format": "email"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Contact name",
            "required": true,
            "type": "string"
          },
          {
            "name": "contact",
            "in": "query",
            "description": "Contact numbers",
            "required": true,
            "type": "string"
          },
          {
            "name": "source",
            "in": "query",
            "description": "Where the request is coming from",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Custom operation successful."
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "MemorableNumber": {
      "type": "object",
      "properties": {
        "number": {
          "type": "string",
          "description": "The memorable phone number."
        },
        "price": {
          "type": "number",
          "description": "Price of the memorable phone number."
        },
        "status": {
          "type": "string",
          "description": "Availability status of the number.",
          "enum": ["available", "pending", "sold"]
        }
      },
      "required": ["number", "status"]
    },
    "PurchaseRequest": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "Email address for purchase correspondence."
        },
        "numbers": {
          "type": "array",
          "description": "List of numbers to purchase.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": ["email", "numbers"]
    }
  }
}
