{
  "swagger": "2.0",
  "info": {
    "description": "The British Numbers API gives you access to the largest database of UK mobile numbers available for sale. It's designed to make finding and buying numbers easy and straightforward for our partners.",
    "version": "2.0.1",
    "title": "British Numbers API",
    "termsOfService": "https://britishnumbers.com/terms-of-service",
    "contact": {
      "email": "info@britishnumbers.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "api.britishnumbers.com",
  "basePath": "/",
  "tags": [
    {
      "name": "Mobile Numbers",
      "description": "Search and purchase mobile numbers available in the UK."
    },
    {
      "name": "Telephone Numbers",
      "description": "Search and purchase telephone numbers available in the UK."
    }
  ],
  "schemes": ["https"],
  "paths": {
    "/mobile/memorable": {
      "get": {
        "tags": ["Mobile Numbers"],
        "summary": "Search our database of memorable mobile numbers",
        "description": "Explore a vast selection of memorable mobile numbers with our search feature. Tailor search queries using specific criteria to find the perfect, easy-to-remember mobile numbers for your needs.",
        "operationId": "findMemorableNumbers",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Your search query, consisting of numbers/integers, used to find specific memorable mobile numbers",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Determines the target field for your search. By default, set to 'number', which searches across the entire mobile number for matches.",
            "required": false,
            "type": "string",
            "enum": ["number", "prefix", "last_six"]
          },
          {
            "name": "match",
            "in": "query",
            "description": "Specifies the match type: select 'exact' for precise matching. Without this, the search performs a fuzzy match.",
            "required": false,
            "type": "string",
            "enum": ["exact"]
          },
          {
            "name": "price_gte",
            "in": "query",
            "description": "Filter by price (greater than or equal to).",
            "required": false,
            "type": "number"
          },
          {
            "name": "price_lte",
            "in": "query",
            "description": "Filter by price (less than or equal to).",
            "required": false,
            "type": "number"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Defines the subset of results for pagination, specifying the range with a 'start-end' format. Max 100 results per query.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/MobileNumber"
            },
            "examples": {
              "application/json": [
                {
                  "number": "07927777776",
                  "price": 625,
                  "last_six": "777776",
                  "available": true,
                  "prefix": "079277"
                },
                {
                  "number": "07547777776",
                  "price": 750,
                  "last_six": "777776",
                  "available": true,
                  "prefix": "075477"
                }
              ]
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/mobile/purchase": {
      "post": {
        "tags": ["Mobile Numbers"],
        "summary": "Buy UK mobile numbers",
        "description": "Submit a purchase request to buy one or more selected UK mobile numbers directly through the API.",
        "operationId": "purchaseNumbers",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "email",
            "in": "formData",
            "description": "Billing email address.",
            "required": true,
            "type": "string"
          },
          {
            "name": "number",
            "in": "formData",
            "description": "The number(s) you wish to purchase. Multiple numbers supported by repeating the query parametre.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "Purchase request submitted successfully."
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/mobile/custom": {
      "post": {
        "tags": ["Mobile Numbers"],
        "summary": "Create a custom UK mobile number",
        "description": "Request custom or specific UK mobile numbers, offering solutions for both unique requirements and situations where preferred mobile numbers are unavailable in the /memorable endpoint. This is an asynchronous API - you will receive the available numbers within 3-5 business days via email.",
        "operationId": "customOperation",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "description": "Specify 6 digits to appear at the end of the desired mobile number.",
            "required": true,
            "type": "string"
          },
          {
            "name": "email",
            "in": "query",
            "description": "Enter your email",
            "required": true,
            "type": "string",
            "format": "email"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Enter your name",
            "required": true,
            "type": "string"
          },
          {
            "name": "contact",
            "in": "query",
            "description": "Enter your phone number",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Custom operation successful."
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "MobileNumber": {
      "type": "object",
      "properties": {
        "number": {
          "type": "string",
          "description": "The mobile phone number."
        },
        "price": {
          "type": "number",
          "description": "Price of the mobile phone number."
        },
        "last_six": {
          "type": "string",
          "description": "Last six digits of the mobile phone number."
        },
        "available": {
          "type": "boolean",
          "description": "Availability status of the number."
        },
        "prefix": {
          "type": "string",
          "description": "Prefix of the mobile phone number."
        }
      },
      "required": ["number", "price", "last_six", "available", "prefix"]
    },
    "PurchaseRequest": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "Email address for purchase correspondence."
        },
        "numbers": {
          "type": "array",
          "description": "List of numbers to purchase.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": ["email", "numbers"]
    }
  }
}
