{
  "swagger": "2.0",
  "info": {
    "description": "The British Numbers API gives you access to millions of UK phone and mobile numbers available for sale. It's designed to make finding and buying numbers easy and straightforward for our partners.",
    "version": "1.0.0",
    "title": "British Numbers API",
    "termsOfService": "https://api.britishnumbers.co.uk/terms-of-service",
    "contact": {
      "email": "info@britishnumbers.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "api.britishnumbers.co.uk",
  "basePath": "/",
  "tags": [
    {
      "name": "Mobile Numbers",
      "description": "Search and purchase mobile numbers available in the UK."
    },
    {
      "name": "Telephone Numbers",
      "description": "Search and purchase telephone numbers available in the UK."
    }
  ],
  "schemes": ["https"],
  "paths": {
    "/mobile/memorable": {
      "get": {
        "tags": ["Mobile Numbers"],
        "summary": "Search our database of memorable mobile numbers",
        "description": "Explore a vast selection of memorable mobile numbers with our search feature. Tailor search queries using specific criteria to find the perfect, easy-to-remember mobile numbers for your needs.",
        "operationId": "findMemorableNumbers",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Your search query, consisting of numbers/integers, used to find specific memorable mobile numbers",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Determines the target field for your search. By default, set to 'number', which searches across the entire mobile number for matches.",
            "required": false,
            "type": "string",
            "enum": ["number", "prefix", "last_six"]
          },
          {
            "name": "match",
            "in": "query",
            "description": "Specifies the match type: select 'exact' for precise matching. Without this, the search performs a fuzzy match.",
            "required": false,
            "type": "string",
            "enum": ["exact"]
          },
          {
            "name": "price_gte",
            "in": "query",
            "description": "Filter by price (greater than or equal to).",
            "required": false,
            "type": "number"
          },
          {
            "name": "price_lte",
            "in": "query",
            "description": "Filter by price (less than or equal to).",
            "required": false,
            "type": "number"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Defines the subset of results for pagination, specifying the range with a 'start-end' format. Max 100 results per query.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/MobileNumber"
            },
            "examples": {
              "application/json": [
                {
                  "number": "07927777776",
                  "price": 625,
                  "last_six": "777776",
                  "available": true,
                  "prefix": "079277"
                },
                {
                  "number": "07547777776",
                  "price": 750,
                  "last_six": "777776",
                  "available": true,
                  "prefix": "075477"
                }
              ]
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/mobile/purchase": {
      "post": {
        "tags": ["Mobile Numbers"],
        "summary": "Buy UK mobile numbers",
        "description": "Submit a purchase request to buy one or more selected UK mobile numbers directly through the API.",
        "operationId": "purchaseNumbers",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "email",
            "in": "formData",
            "description": "Billing email address.",
            "required": true,
            "type": "string"
          },
          {
            "name": "number",
            "in": "formData",
            "description": "The number(s) you wish to purchase. Multiple numbers supported by repeating the query parameter.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "Purchase request submitted successfully."
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/mobile/custom": {
      "post": {
        "tags": ["Mobile Numbers"],
        "summary": "Create a custom UK mobile number",
        "description": "Request custom or specific UK mobile numbers, offering solutions for both unique requirements and situations where preferred mobile numbers are unavailable in the /memorable endpoint. This is an asynchronous API - you will receive the available numbers within 3-5 business days via email.",
        "operationId": "customOperation",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "description": "Specify 6 digits to appear at the end of the desired mobile number.",
            "required": true,
            "type": "string"
          },
          {
            "name": "email",
            "in": "query",
            "description": "Enter your email",
            "required": true,
            "type": "string",
            "format": "email"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Enter your name",
            "required": true,
            "type": "string"
          },
          {
            "name": "contact",
            "in": "query",
            "description": "Enter your phone number",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Custom operation successful."
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/numbers/tariffs": {
      "get": {
        "tags": ["Telephone Numbers"],
        "summary": "List Tariffs",
        "description": "Retrieve a list of available tariffs for telephone numbers.",
        "operationId": "listTariffs",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/numbers": {
      "get": {
        "tags": ["Telephone Numbers"],
        "summary": "List Numbers on Account",
        "description": "Retrieve a list of telephone numbers associated with the account.",
        "operationId": "listNumbersOnAccount",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/TelephoneNumbers"
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/numbers/config/{number}": {
      "get": {
        "tags": ["Telephone Numbers"],
        "summary": "List Number Config",
        "description": "Retrieve configuration details for a specific telephone number.",
        "operationId": "listNumberConfig",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "The telephone number for which to retrieve configuration details.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/NumberConfig"
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/numbers/available/{partialnumber}": {
      "get": {
        "tags": ["Telephone Numbers"],
        "summary": "List Available Numbers",
        "description": "Retrieve a list of available telephone numbers that match the partial number provided.",
        "operationId": "listAvailableNumbers",
        "parameters": [
          {
            "name": "partialnumber",
            "in": "path",
            "description": "The partial telephone number to match against available numbers.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/TelephoneNumbers"
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/numbers/update": {
      "post": {
        "tags": ["Telephone Numbers"],
        "summary": "Update Number Config",
        "description": "Update the configuration of a telephone number.",
        "operationId": "updateNumberConfig",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "The telephone number to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "blacklist",
            "in": "body",
            "description": "Turn blacklist on/off.",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "body",
            "description": "Description (MAX 64 chars).",
            "required": true,
            "type": "string"
          },
          {
            "name": "acr",
            "in": "body",
            "description": "Turn ACR (Anonymous Call Rejection) on/off.",
            "required": true,
            "type": "string"
          },
          {
            "name": "mcn",
            "in": "body",
            "description": "Turn MCN (Missed Call Notifications) on/off.",
            "required": true,
            "type": "string"
          },
          {
            "name": "dnis",
            "in": "body",
            "description": "Turn DNIS (Dialed Number Identification Service) on/off.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    // Add more endpoints for PURCHASE, PRICES, CALL WHISPER, VIRTUAL SWITCHBOARD, HUNT GROUPS, VOICEMAIL, GREETINGS, CALL STATS, BLACKLIST, HOLIDAYS as per your provided information
    "/purchase/callwhisper/": {
      "post": {
        "tags": ["PURCHASE"],
        "summary": "Purchase Call Whisper",
        "description": "Purchase a Call Whisper service for a specific telephone number.",
        "operationId": "purchaseCallWhisper",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "number",
            "in": "body",
            "description": "The telephone number for which to purchase Call Whisper service.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Purchase Call Whisper successful"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/purchase/number/": {
      "post": {
        "tags": ["PURCHASE"],
        "summary": "Purchase Number",
        "description": "Purchase a telephone number with a specified tariff and destination.",
        "operationId": "purchaseNumber",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "tariff",
            "in": "body",
            "description": "Tariff for the purchased number.",
            "required": true,
            "type": "string"
          },
          {
            "name": "number",
            "in": "body",
            "description": "The telephone number to purchase.",
            "required": true,
            "type": "string"
          },
          {
            "name": "destination",
            "in": "body",
            "description": "Destination for the purchased number.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Purchase Number successful"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/purchase/switchboard/": {
      "post": {
        "tags": ["PURCHASE"],
        "summary": "Purchase Virtual Switchboards",
        "description": "Purchase virtual switchboard service.",
        "operationId": "purchaseSwitchboard",
        "consumes": ["application/json"],
        "parameters": [],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Purchase Virtual Switchboard successful"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/purchase/callrecording/": {
      "post": {
        "tags": ["PURCHASE"],
        "summary": "Purchase Call Recording",
        "description": "Purchase call recording service for a specific telephone number.",
        "operationId": "purchaseCallRecording",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "number",
            "in": "body",
            "description": "The telephone number for which to purchase call recording service.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Purchase Call Recording successful"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
"/prices/tariff": {
      "get": {
        "tags": ["PRICES"],
        "summary": "List Tariff Prices",
        "description": "Retrieve a list of tariff prices.",
        "operationId": "listTariffPrices",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/TariffPrices"
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },             
    "/prices/whisper/": {
      "get": {
        "tags": ["PRICES"],
        "summary": "List Call Whisper Price",
        "description": "Retrieve the price for Call Whisper service.",
        "operationId": "listCallWhisperPrice",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "number"
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/prices/vsb/": {
      "get": {
        "tags": ["PRICES"],
        "summary": "List Virtual Switchboard Price",
        "description": "Retrieve the price for Virtual Switchboard service.",
        "operationId": "listVirtualSwitchboardPrice",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "number"
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/prices/tconnect/": {
      "get": {
        "tags": ["PRICES"],
        "summary": "List T-Connect Price",
        "description": "Retrieve the price for T-Connect service.",
        "operationId": "listTConnectPrice",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "number"
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/prices/recording/": {
      "get": {
        "tags": ["PRICES"],
        "summary": "List Call Recording Price",
        "description": "Retrieve the price for Call Recording service.",
        "operationId": "listCallRecordingPrice",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "number"
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/callwhisper/": {
      "get": {
        "tags": ["CALL WHISPER"],
        "summary": "List Call Whisper on Account",
        "description": "Retrieve a list of Call Whisper configurations on the account.",
        "operationId": "listCallWhisperOnAccount",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/CallWhisperConfig"
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/callwhisper/config/{number}": {
      "get": {
        "tags": ["CALL WHISPER"],
        "summary": "List Call Whisper Config",
        "description": "Retrieve Call Whisper configuration for a specific telephone number.",
        "operationId": "listCallWhisperConfig",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "The telephone number for which to retrieve Call Whisper configuration.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/CallWhisperConfig"
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/callwhisper/config/": {
      "post": {
        "tags": ["CALL WHISPER"],
        "summary": "Update Call Whisper",
        "description": "Update Call Whisper configuration for a specific telephone number.",
        "operationId": "updateCallWhisperConfig",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "number",
            "in": "body",
            "description": "The telephone number for which to update Call Whisper configuration.",
            "required": true,
            "type": "string"
          },
          {
            "name": "enddate",
            "in": "body",
            "description": "End date for Call Whisper configuration.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Update Call Whisper successful"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/switchboard/": {
      "get": {
        "tags": ["VIRTUAL SWITCHBOARD"],
        "summary": "List All Virtual switchboard",
        "description": "Retrieve a list of all virtual switchboards on the account.",
        "operationId": "listAllVirtualSwitchboard",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Optional ID for filtering.",
            "required": false,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/VirtualSwitchboard"
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/switchboard/new/": {
      "post": {
        "tags": ["VIRTUAL SWITCHBOARD"],
        "summary": "Create Virtual Switchboard",
        "description": "Create a new virtual switchboard.",
        "operationId": "createVirtualSwitchboard",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "description",
            "in": "body",
            "description": "Description for the new virtual switchboard.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Create Virtual Switchboard successful"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/switchboard/update/": {
      "post": {
        "tags": ["VIRTUAL SWITCHBOARD"],
        "summary": "Update Virtual Switchboard",
        "description": "Update an existing virtual switchboard.",
        "operationId": "updateVirtualSwitchboard",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "body",
            "description": "ID of the virtual switchboard to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "body",
            "description": "Description for the updated virtual switchboard.",
            "required": true,
            "type": "string"
          },
          {
            "name": "options",
            "in": "body",
            "description": "Options for updating the virtual switchboard.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualSwitchboardUpdateOptions"
            }
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Update Virtual Switchboard successful"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/huntgroups/": {
      "get": {
        "tags": ["HUNT GROUPS"],
        "summary": "List Hunt Groups",
        "description": "Retrieve a list of all hunt groups on the account.",
        "operationId": "listHuntGroups",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/HuntGroups"
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/huntgroups/new/": {
      "post": {
        "tags": ["HUNT GROUPS"],
        "summary": "Create Hunt Group",
        "description": "Create a new hunt group.",
        "operationId": "createHuntGroup",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "description",
            "in": "body",
            "description": "Description for the new hunt group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "members",
            "in": "body",
            "description": "List of members to include in the hunt group.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Create Hunt Group successful"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/huntgroups/update/": {
      "post": {
        "tags": ["HUNT GROUPS"],
        "summary": "Update Hunt Group",
        "description": "Update an existing hunt group.",
        "operationId": "updateHuntGroup",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "body",
            "description": "ID of the hunt group to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "body",
            "description": "Description for the updated hunt group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "members",
            "in": "body",
            "description": "List of members to include in the updated hunt group.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Update Hunt Group successful"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/voicemail/": {
      "get": {
        "tags": ["VOICEMAIL"],
        "summary": "List Voicemail Boxes",
        "description": "Retrieve a list of all voicemail boxes on the account.",
        "operationId": "listVoicemailBoxes",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/VoicemailBoxes"
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/voicemail/new/": {
      "post": {
        "tags": ["VOICEMAIL"],
        "summary": "Create Voicemail Box",
        "description": "Create a new voicemail box.",
        "operationId": "createVoicemailBox",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "description",
            "in": "body",
            "description": "Description for the new voicemail box.",
            "required": true,
            "type": "string"
          },
          {
            "name": "email",
            "in": "body",
            "description": "Email address for receiving voicemail notifications.",
            "required": true,
            "type": "string",
            "format": "email"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Create Voicemail Box successful"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/voicemail/update/": {
      "post": {
        "tags": ["VOICEMAIL"],
        "summary": "Update Voicemail Box",
        "description": "Update an existing voicemail box.",
        "operationId": "updateVoicemailBox",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "body",
            "description": "ID of the voicemail box to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "body",
            "description": "Description for the updated voicemail box.",
            "required": true,
            "type": "string"
          },
          {
            "name": "email",
            "in": "body",
            "description": "Email address for receiving voicemail notifications.",
            "required": true,
            "type": "string",
            "format": "email"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Update Voicemail Box successful"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/greetings/": {
      "get": {
        "tags": ["GREETINGS"],
        "summary": "List Greetings",
        "description": "Retrieve a list of all greetings on the account.",
        "operationId": "listGreetings",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Greetings"
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/greetings/new/": {
      "post": {
        "tags": ["GREETINGS"],
        "summary": "Create Greeting",
        "description": "Create a new greeting.",
        "operationId": "createGreeting",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "description",
            "in": "body",
            "description": "Description for the new greeting.",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "body",
            "description": "Type of greeting (e.g., standard, custom).",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Create Greeting successful"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/greetings/update/": {
      "post": {
        "tags": ["GREETINGS"],
        "summary": "Update Greeting",
        "description": "Update an existing greeting.",
        "operationId": "updateGreeting",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "body",
            "description": "ID of the greeting to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "body",
            "description": "Description for the updated greeting.",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "body",
            "description": "Type of greeting (e.g., standard, custom).",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Update Greeting successful"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/callstats/": {
      "get": {
        "tags": ["CALL STATS"],
        "summary": "Get Call Statistics",
        "description": "Retrieve call statistics for the account.",
        "operationId": "getCallStatistics",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date for call statistics.",
            "required": true,
            "type": "string"
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date for call statistics.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/CallStatistics"
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/blacklist/": {
      "get": {
        "tags": ["BLACKLIST"],
        "summary": "List Blacklisted Numbers",
        "description": "Retrieve a list of blacklisted numbers on the account.",
        "operationId": "listBlacklistedNumbers",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/BlacklistedNumbers"
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/blacklist/new/": {
      "post": {
        "tags": ["BLACKLIST"],
        "summary": "Add Number to Blacklist",
        "description": "Add a telephone number to the blacklist.",
        "operationId": "addNumberToBlacklist",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "number",
            "in": "body",
            "description": "The telephone number to add to the blacklist.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Add Number to Blacklist successful"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/blacklist/remove/": {
      "post": {
        "tags": ["BLACKLIST"],
        "summary": "Remove Number from Blacklist",
        "description": "Remove a telephone number from the blacklist.",
        "operationId": "removeNumberFromBlacklist",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "number",
            "in": "body",
            "description": "The telephone number to remove from the blacklist.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Remove Number from Blacklist successful"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/holidays/": {
      "get": {
        "tags": ["HOLIDAYS"],
        "summary": "List Holidays",
        "description": "Retrieve a list of holidays on the account.",
        "operationId": "listHolidays",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Holidays"
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/holidays/new/": {
      "post": {
        "tags": ["HOLIDAYS"],
        "summary": "Add Holiday",
        "description": "Add a new holiday.",
        "operationId": "addHoliday",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "name",
            "in": "body",
            "description": "Name of the holiday.",
            "required": true,
            "type": "string"
          },
          {
            "name": "date",
            "in": "body",
            "description": "Date of the holiday.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Add Holiday successful"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/holidays/remove/": {
      "post": {
        "tags": ["HOLIDAYS"],
        "summary": "Remove Holiday",
        "description": "Remove a holiday.",
        "operationId": "removeHoliday",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "name",
            "in": "body",
            "description": "Name of the holiday to remove.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Remove Holiday successful"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    }
  },
  "definitions": {
    "TelephoneNumbers": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/TelephoneNumber"
      }
    },
    "TelephoneNumber": {
      "type": "object",
      "properties": {
        "number": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "blacklist": {
          "type": "string in ['on his hunt']}
    },
    "HuntGroupMember": {
      "type": "object",
      "properties": {
        "member": {
          "type": "string"
        }
      }
    },
    "VoicemailBoxes": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/VoicemailBox"
      }
    },
    "VoicemailBox": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "email": {
          "type": "string"
        }
      }
    },
    "Greetings": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Greeting"
      }
    },
    "Greeting": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "CallStatistics": {
      "type": "object",
      "properties": {
        "start_date": {
          "type": "string"
        },
        "end_date": {
          "type": "string"
        },
        "total_calls": {
          "type": "integer"
        },
        "total_minutes": {
          "type": "integer"
        },
        "total_cost": {
          "type": "number"
        }
      }
    },
    "BlacklistedNumbers": {
      "type": "array",
      "items": {
        "type": "string"
      }
    },
    "Holidays": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Holiday"
      }
    },
    "Holiday": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "date": {
          "type": "string"
        }
      }
    }
  }
}
